In [12]:
import pandas as pd
import numpy as np

%xmode plain

Exception reporting mode: Plain

In [3]:
df = pd.io.parsers.read_csv('https://raw.githubusercontent.com/rasbt/pattern_classification/master/data/wine_data.csv', header = None, usecols=[0,1,2])

In [4]:
df.head().append(df.tail())

     0      1     2
0    1  14.23  1.71
1    1  13.20  1.78
2    1  13.16  2.36
3    1  14.37  1.95
4    1  13.24  2.59
173  3  13.71  5.65
174  3  13.40  3.91
175  3  13.27  4.28
176  3  13.17  2.59
177  3  14.13  4.10

In [6]:
df.columns = ['Class Label', 'Alcohol', 'Malic Acid']
df.head()

   Class Label  Alcohol  Malic Acid
0            1    14.23        1.71
1            1    13.20        1.78
2            1    13.16        2.36
3            1    14.37        1.95
4            1    13.24        2.59

In [7]:
from sklearn import preprocessing

In [31]:
df[['Alcohol', 'Malic Acid']]

     Alcohol  Malic Acid
0      14.23        1.71
1      13.20        1.78
2      13.16        2.36
3      14.37        1.95
4      13.24        2.59
..       ...         ...
173    13.71        5.65
174    13.40        3.91
175    13.27        4.28
176    13.17        2.59
177    14.13        4.10

[178 rows x 2 columns]

In [37]:
std_scale = preprocessing.StandardScaler().fit(df[['Alcohol', 'Malic Acid']])
df_std = std_scale.transform(df[['Alcohol', 'Malic Acid']])

minmax_scale = preprocessing.MinMaxScaler().fit(df[['Alcohol', 'Malic Acid']])
df_minmax = minmax_scale.transform(df[['Alcohol', 'Malic Acid']])

In [24]:
df_std[:, 1]

array([-0.5622498 , -0.49941338,  0.02123125, -0.34681064,  0.22769377,
       -0.51736664, -0.4186237 , -0.16727801, -0.62508622, -0.88540853,
       -0.15830138, -0.76871232, -0.54429654, -0.54429654, -0.4186237 ,
       -0.47248348, -0.37374054, -0.68792264, -0.66996938,  0.68550197,
       -0.63406285,  1.31386618, -0.42760033, -0.66099274, -0.47248348,
       -0.25704433, -0.50839001, -0.55327317, -0.3916938 , -0.58917969,
       -0.75075906, -0.60713296, -0.45453022, -0.72382916, -0.48146012,
       -0.47248348, -0.62508622, -0.61610959, -0.75075906,  1.48442217,
       -0.5622498 ,  1.3497727 , -0.40067043,  1.47544554, -0.50839001,
        1.52930533,  1.12535692, -0.58917969, -0.28397422, -0.54429654,
       -0.54429654, -0.61610959, -0.52634327, -0.3916938 , -0.59815632,
       -0.54429654, -0.57122643, -0.32885738, -0.81359548, -1.25345042,
       -1.10982432, -0.8764319 , -0.97517485, -1.08289442, -0.79564222,
       -1.01108137, -1.190614  , -1.0469879 , -1.25345042, -1.02903463,
       -0.65201611, -0.74178243, -0.60713296, -0.59815632, -1.11880095,
       -0.40964706, -1.28935695,  0.49699271, -1.20856726,  1.3767026 ,
       -1.27140368, -0.47248348, -1.08289442,  1.36772596, -1.29833358,
       -1.21754389, -0.65201611, -0.59815632, -0.2480677 , -0.90336179,
       -0.45453022, -0.74178243, -0.72382916,  0.44313292, -0.31090412,
       -0.7328058 , -0.19420791, -0.83154874, -1.13675421,  0.74833839,
       -0.23011443, -0.89438516,  0.10202093, -0.55327317, -0.54429654,
        0.19178724, -0.54429654, -0.52634327, -0.93926832, -0.88540853,
        1.26000639,  0.08406767,  0.30848345, -1.43298305, -0.849502  ,
       -0.74178243, -0.77768895, -0.65201611,  0.98173081,  0.98173081,
        0.05713777, -0.25704433,  1.87939396,  3.10919247,  1.77167438,
       -0.15830138, -0.72382916, -0.18523128, -0.63406285,  1.76269775,
       -0.88540853,  0.58675903, -0.02365191,  1.08945039, -0.98415148,
        0.11099756,  2.13971627,  2.84887015,  1.12535692,  0.55982913,
        0.42517966,  0.20076388,  0.74833839,  2.34617879,  1.38567923,
        1.10740365,  2.42696848,  2.04097332,  0.81117481,  1.40363249,
        0.70345524,  0.29950682, -0.3916938 ,  0.8650346 , -0.93926832,
        2.56161795,  1.60111838,  0.62266555, -0.58917969, -0.59815632,
        1.34079607,  0.82912808,  0.83810471,  0.99968408,  0.3802965 ,
        1.81655754,  1.22409986,  0.92787102,  0.21871714,  2.03199669,
        0.62266555,  0.04816114,  0.15588072,  2.974543  ,  1.41260912,
        1.74474449,  0.22769377,  1.58316512])

In [38]:
print("Mean after standardization. Alcohol= {:.2f}, Malic Acid: {:.2f}".format(df_std[:, 0].mean(), df_std[:, 1].mean()))

print("Standard Deviation after standardization. Alcohol= {:.2f}, Malic Acid: {:.2f}".format(df_minmax[:, 0].std(), df_minmax[:, 1].std()))

Mean after standardization. Alcohol= -0.00, Malic Acid: -0.00
Standard Deviation after standardization. Alcohol= 0.21, Malic Acid: 0.22